<div class="footer-gradient"></div>
<div class="section narrow">
	<div class="footer-hr"></div>
	<div class="footer-container">
		<section class="section nartrow">
		<div class="next-articles-grid">
			<div class="post-row">
				<div class="footer-text">
					Copyright © {{ dateFormat "2006" now }} {{ .Site.Title }}. This website is operated by Direx Limited, a company incorporated under the laws of Curacao with registration number 131879 and registered address at Heelsumstraat 51 E-Commerce Park, Curacao.  
				</div>
			</div>
		</div>
		</section>
	</div>
</div>